#include <winver.h>

1 ICON "../logo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,2,1,0
 PRODUCTVERSION 2,2,1,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "moshuai"
            VALUE "FileDescription", "Mswrite Markdown Editor"
            VALUE "FileVersion", "2.2.1.0"
            VALUE "InternalName", "Mswrite"
            VALUE "OriginalFilename", "Mswrite.exe"
            VALUE "ProductName", "Mswrite"
            VALUE "ProductVersion", "2.2.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
